@import '../../scss//variable.scss';
@import '../../scss//mixins.scss';

.button-group {
  height: 40px;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  border: none;
  box-shadow: 0px 8px 16px $color-rhodomyrtus_16;
  align-items: center;
  justify-content: center;
  color: $color-coconut;
  @include button_2;
  span {
    margin: 0 8px;
  }

  .icons {
    width: 24px;
    height: 24px;
    background-color: $color-coconut;
    position: relative;
    .icons-content {
      width: 16px;
      height: 16px;
      background: $color-jicama;
      border: none;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
    
  }

  &:hover {
    opacity: 0.85;
    cursor: pointer;
  }

  &:active {
    box-shadow: inset 0px 2px 2px $color-rhodomyrtus_16;
  }
}
