@import '../../../scss/variable.scss';
@import '../../../scss//mixins.scss';

.login-container {
  position: relative;
  background: url('../../image/Login/BackGround.png') no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.login--form {
  width: 100%;
  max-width: 512px;
  height: 640px;
  //   margin: 0 auto;

  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  &__title {
    @include body_1;
    font-size: 17px;
    line-height: 24px;
    padding-top: 64px;
    text-align: center;
    color: var(--Rhodomyrtus);
  }
  
  &__input {
    margin-top: 46px;
  }
  &__submit {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 64px;
    margin-right: 64px;
  }
  &__signup {
    margin-top: 64px;
    margin-left: 124px;
    margin-right: 124px;
  }
}

.image-background {
}

.signup--account {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 256px;
  height: 56px;

  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  border: 1px solid var(--white);
  background-color: var(--white);
  outline: none;
  cursor: pointer;

  border-radius: 4px;
  &:hover {
    border: 1px solid var(--Melon);
  }
  &:active {
    border: 1px solid var(--Rhodomyrtus);
  }
}

.form--wrapp {
  position: relative;
  &__foggot-password {
    position: absolute;
    right: 16%;
    top: 50%;
    transform: translateY(-50%);

    color: blue;
  }
}

.bottom--group {
  @include body_2;
  position: absolute;
  bottom: 32px;
  left: 50%;
  display: -webkit-inline-box;
  transform: translateX(-50%);
  color: #fff;
  &__items {
    padding: 0 16px;
  }
}
