.login--form__signwith {
  display: flex;
  padding-top: 32px;
  justify-content: center;
  flex-grow: 16px;
  .signwith {
    width: 56px;
    height: 56px;
    border: 1px solid var(--Jicama);
    padding: 16px;
    &:hover {
      opacity: 0.7;
    }
  }
  .linkedin {
    margin-right: 16px;
  }
}
