@import '../../scss//variable.scss';
@import '../../scss//mixins.scss';

.modal {
  background-color: $color-rhodomyrtus_80;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;

  .modal-dialog {
    position: absolute;
    width: 352px;
    height: 280px;
    left: calc(50% - 352px/2);
    top: calc(50% - 280px/2);
    background: $color-coconut;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 32px 16px 32px 32px;

    h5 {
      @include heading_5;
      color: #000000;
      margin-bottom: 16px;
    }

    p {
      @include body_2;
      color: $color-rhodomyrtus_80;
    }
  }

  .modal-group {
    display: flex;
    margin-top: 52px;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

    button:first-child {
      border: none;
      box-shadow: none;

      &:active {
        box-shadow: inset 0px 2px 2px $color-rhodomyrtus_16;
      }
    }

    button:last-child {
      margin-right: 16px;
    }
  }
}

