@import "../../../scss/variable.scss";
@import "../../../scss//mixins.scss";

@mixin displayFlex {
  display: flex;
  align-items: center;
}

.header {
  max-width: 1920px;
  width: 100%;
  height: 64px;
  @include displayFlex;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0 32px;
  justify-content: space-between;

  .header-left {
    @include displayFlex;
    .header-menu {
      @include displayFlex;
      .toggle-sidebar {
        cursor: pointer;
      }

      margin-right: 32px;

      p {
        @include body_2;
        color: $color-rhodomyrtus_80;
        margin-left: 8px;
        line-height: 20px;
      }
    }

    .header-laguage {
      .country-flags {
        @include displayFlex;
        cursor: pointer;
        p {
          margin-left: 8px;
          @include body_2;
          color: $color-rhodomyrtus_80;
        }
      }
    }

    .header-support {
      .support-content {
        @include displayFlex;
        cursor: pointer;

        p {
          margin-left: 10px;
          @include body_2;
          color: $color-rhodomyrtus_80;
        }
      }
    }
  }

  .header-middle {
    .header-company {
      @include displayFlex;
      justify-content: center;

      .company-info {
        width: 32px;
        height: 32px;
        @include displayFlex;
        justify-content: center;
        margin-right: 8px;

        .company-logo {
          width: 21.5px;
          height: 21.5px;
          border-radius: 50%;
          background-color: $color-jicama;
        }
      }

      .company-name {
        @include button_2;
      }
    }

    .header-breadcrumb {
      ul {
        @include displayFlex;
        list-style-type: none;

        li {
          @include displayFlex;
          justify-content: space-between;
          margin-right: 26px;

          p {
            margin-right: 26px;
            @include body_1;
            cursor: pointer;
          }

          &:last-child {
            i {
              display: none;
            }
          }
        }
      }
    }
  }

  .active {
    color: $color-berry;
  }

  .header-right {
    .header-auth {
      @include displayFlex;
      .header-login {
        @include displayFlex;
        margin-right: 34px;
        cursor: pointer;
        p {
          @include body_2;
          margin-left: 10px;
        }
      }

      .header-signup {
        @include displayFlex;
        cursor: pointer;
        p {
          @include body_2;
          margin-left: 10px;
        }
      }
    }

    .header-logged_in {
      @include displayFlex;

      .header-card {
        margin-right: 32px;
        @include displayFlex;

        .card-icon {
          margin-right: 8px;
        }

        .card-order {
          .order-name {
            @include body_2;
            line-height: 20px;
            color: $color-rhodomyrtus;
          }

          .order-total {
            @include caption_2;
            color: $color-melon;
          }
        }
      }

      .header-user {
        @include displayFlex;
        .user-avatar {
          width: 40px;
          height: 40px;
          @include displayFlex;
          justify-content: center;
          background-color: rgba(43, 120, 236, 0.1);
          border: none;
          border-radius: 50%;
          @include body_2;
          color: $color-berry;
          margin-right: 8px;
        }

        .user-info {
          .user-name {
            @include body_2;
            line-height: 20px;
            color: $color-rhodomyrtus;
          }

          .user-ID {
            @include caption_2;
            color: $color-melon;
          }
        }
      }
    }
  }
}
