@import "../../../scss/variable.scss";
@import "../../../scss/mixins.scss";

@mixin box {
  max-width: 517px;
  margin-right: 32px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  color: $color-coconut;
}

.dashboard {
  width: 100%;
  box-sizing: border-box;
  padding: 22px 0 0 32px;
  height: 3000px;

  h4 {
    @include heading_4;
    color: $color-rhodomyrtus;
    margin-bottom: 22px;
  }

  .dashboard-notification {
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 32px;

    .overdue-invoice {
      @include box;
      background-color: $color-cherry;
    }

    .pending-voice {
      @include box;
      background-color: $color-carrot;
      margin: 0;
    }

    .oi-head,
    .pv-head {
      width: 100%;
      height: 53px;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 20px 24px;
      @include sub-heading_1;

      div {
        display: flex;
        align-items: center;

        img {
          margin-right: 16px;
        }
      }
    }

    .oi-body,
    .pv-body {
      box-sizing: border-box;
      padding: 14px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #c4332f;

      .oi-body_left {
        @include caption_1;
      }

      .oi-body_right {
        @include body_2;
      }
    }

    .pv-body {
      border-top: 1px solid #d68000;

      .pv-body_left {
        @include caption_1;
      }

      .pv-body_right {
        @include body_2;
      }
    }
  }

  .dashboard-status {
    width: 100%;
    height: auto;
    display: flex;

    @mixin status {
      max-width: 517px;
      width: 100%;
      height: 310px;
      background-color: $color-coconut;
    }

    .purchase {
      @include status;
      border: 1px solid;
      margin-right: 32px;

      .purchase-head {
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 16px 16px 0 16px;

        .purchase-head_left {
          @include sub-heading_1;
          color: $color-wood_apple;
        }

        .purchase-head_right {
          display: flex;
          align-items: center;
          @include body_2;
        }
      }
    }

    .latest-order {
      @include status;
      border: 1px solid;
      margin-right: 32px;

      .latest-order-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 16px 16px 20px 16px;
        border-bottom: 1px solid rgba(40, 47, 54, 0.15);

        .latest-order-head_left {
          @include sub-heading_1;
          color: $color-wood_apple;
        }
      }
    }

    .top-product {
      @include status;
      border: 1px solid;

      .top-product-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 16px 16px 0 16px;
        border-bottom: 1px solid rgba(40, 47, 54, 0.15);

        .top-product-head_left {
          @include sub-heading_1;
          color: $color-wood_apple;
        }

        .top-product-head_right {
          display: flex;
          align-items: center;
          @include body_2;
        }
      }
    }
  }
}
