// =============Color==================
$color-plum: rgb(13, 0, 76); //#0D004C
$color-berry: rgb(43, 120, 236); //#2B78EC
$color-fig: rgb(113, 70, 233); //#7146E9
$color-cherry: rgb(222, 85, 81); //#DE5551
$color-carrot: rgb(239, 158, 0); //#EF9E00
$color-bean: rgb(25, 171, 119); //#19AB77

$color-rhodomyrtus: rgb(46, 58, 91); //#2E3A5B
$color-wood_apple: rgb(89, 100, 129); //#596481
$color-melon: rgb(89, 100, 129); //#8592AB
$color-jicama: rgb(219, 224, 230); //#DBE0E6
$color-galic: rgb(244, 245, 246); //#F4F5F6
$color-coconut: rgb(255, 255, 255); //#FFFFFF

$color-rhodomyrtus_80: rgba(46, 58, 91, 0.8); //#2E3A5B
$color-rhodomyrtus_16: rgba(46, 58, 91, 0.16); //#596481
$color-rhodomyrtus_8: rgba(46, 58, 91, 0.08); //#8592AB

